$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);
$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

.postListPageContainer {
  padding: 100px 50px 0px;
}

.postsPreviewContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notFoundContainer {
  min-height: 150px;
  padding: 16px;
  box-sizing: border-box;
  width: 300px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $white;
  font-size: 32px;
  // line-height: 32px;
  font-weight: 500;
  color: $darkBlue;
  border-radius: 10px;
  transition: box-shadow 0.3s;
  box-shadow: 0px 0px 15px $grayishBlue;
}

.notFoundContainer:hover {
  box-shadow: 0px 0px 35px $grayishBlue;
}

.postPreviewContainer {
  width: 380px;
  margin: 0 15px 30px;
  padding: 10px;
  box-shadow: 0px 0px 10px $grayishBlue;
  transition: box-shadow 0.3s;
  border-radius: 5px;
  background-color: $white;
  word-break: break-all;
}

.postPreviewContainer:hover {
  box-shadow: 0px 0px 35px $grayishBlue;
  cursor: pointer;
}

.addPostBtn {
  position: fixed;
  top: calc(100% - 70px);
  left: calc(100vw - 80px);
  background-color: $moderateBlue;
  width: 50px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 45px;
  img {
    width: 50px;
    height: 50px;
  }
  font-size: 0;
}

.addPostBtn:hover {
  background-color: $lightGrayishBlue;
  cursor: pointer;
}
.addPostBtn:focus {
  outline-color: $lightGrayishBlue;
}
.addPostBtn:disabled {
  background-color: $lightGray;
  cursor: default;
}

.postContainer {
  margin: 50px auto 0px;
  // padding-bottom: 10px; 
  min-width: 300px;
  width: 70%;
}

.postBody,
.commentBody,
.replyInputContainer {
  display: flex;
  padding: 20px;
  background-color: $white;
  border-radius: 9px;
}

.commentsContainer {
  margin-left: 37px;
  border-left: solid $lightGray 3px;
}

.repliesContainer {
  margin-left: 76px;
  border-left: solid $lightGray 3px;
  .replyInputContainer {
    margin-left: 39px;
  }
}

.commentContainer {
  .replyInputContainer {
    margin-left: 39px;
  }
}

.commentBody {
  margin: 20px 0 0 39px;
}

.userLabelAndContentContainer {
  width: 100%;
}

.plusMinusInputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
  background-color: $lightGray;
  width: 38px;
  border-radius: 9px;
  margin-right: 20px;
  padding: 5px 0;

  .iconContainer {
    width: 38px;
    height: 11px;
    .iconPlus {
      width: 11px;
      height: 11px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/images/icon-plus.svg");
    }
    .iconMinus {
      width: 11px;
      height: 3px;
      margin: 0 auto;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url("/images/icon-minus.svg");
    }
  }

  .iconContainer:hover {
    cursor: pointer;
    .iconPlus {
      background-image: url("/images/icon-plus-hovered.svg");
    }
    .iconMinus {
      background-image: url("/images/icon-minus-hovered.svg");
    }
  }
  .plusMinusInputScore {
    color: $moderateBlue;
    font-weight: 500;
    margin: 10px 0;
  }
}

.postAuthorImgNameTimeAgo {
  display: flex;
  align-items: center;
  > * {
    margin-right: 10px;
  }
  img {
    width: 40px;
  }

  .youLabelContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    font-size: 0.9rem;
    background-color: $moderateBlue;
    color: white;
    border-radius: 3px;
    span {
      margin: 0 0 3px 0;
    }
  }
}

.userName {
  font-weight: 500;
}
.replyBtn {
  margin-left: auto;
  .replyIcon {
    display: inline-block;
    background-image: url("/images/icon-reply.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 13px;
    height: 13px;
    margin-right: 7px;
  }
  span {
    color: $moderateBlue;
    font-weight: 500;
  }
}

.replyBtn:hover {
  cursor: pointer;
  .replyIcon {
    background-image: url("/images/icon-reply-hovered.svg");
  }
  span {
    color: $lightGrayishBlue;
  }
}

.deleteEditBtnsContainer {
  margin-left: auto;
  display: flex;
  .deleteBtn {
    .deleteIcon {
      display: inline-block;
      background-image: url("/images/icon-delete.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      margin-right: 7px;
    }
    span {
      color: $softRed;
      font-weight: 500;
    }
  }
  .deleteBtn:hover {
    cursor: pointer;
    .deleteIcon {
      background-image: url("/images/icon-delete-hovered.svg");
    }
    span {
      color: $paleRed;
    }
  }
  .editBtn {
    margin-left: 20px;
    .editIcon {
      display: inline-block;
      background-image: url("/images/icon-edit.svg");
      background-size: contain;
      background-repeat: no-repeat;
      width: 13px;
      height: 13px;
      margin-right: 7px;
    }
    span {
      color: $moderateBlue;
      font-weight: 500;
    }
  }
  .editBtn:hover {
    cursor: pointer;
    .editIcon {
      background-image: url("/images/icon-edit-hovered.svg");
    }
    span {
      color: $lightGrayishBlue;
    }
  }
}

.userName {
  font-weight: 500;
}

.content {
  color: $grayishBlue;
  .replyAuthorReference {
    color: $moderateBlue;
    font-weight: 500;
  }
  word-break: break-all;
}

.timeAgo {
  color: $grayishBlue;
}

.replyInputContainer {
  margin: 20px 0;
  img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid $lightGray;
    border-radius: 9px;
    font-size: 16px;

  }

  textarea:focus {
    outline-color: $lightGrayishBlue;
  }

  .replyInputBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $moderateBlue;
    color: $white;
    height: 50px;
    min-width: 120px;
    width: 120px;
    border-radius: 9px;
    margin-left: 20px;
  }

  .replyInputBtn:hover {
    background-color: $lightGrayishBlue;
    cursor: pointer;
  }
}

.editingContainer {
  margin-top: 20px;
  textarea {
    resize: none;
    width: 100%;
    height: 100px;
    border: 1px solid $lightGray;
    border-radius: 9px;
    margin-right: 2.5px;
    padding: 0;
    font-size: 14px;
  }
  textarea:focus {
    outline-color: $lightGrayishBlue;
  }

  .editingUpdateBtn {
    width: 120px;
    margin: 16px 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $moderateBlue;
    color: $white;
    height: 50px;
    width: 120px;
    border-radius: 9px;
  }
  .editingUpdateBtn:hover {
    cursor: pointer;
    background-color: $lightGrayishBlue;
  }
}

.textareaModalContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.textareaModal {
  display: flex;
  flex-direction: column;
  margin: 25vh auto;
  padding: 12px 10px 10px;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 35px $grayishBlue;
  max-width: 1000px;
  width: 70%;
  border-radius: 9px;
  textarea {
    margin: 0 auto;
    resize: none;
    width: 99%;
    height: 200px;
    border: 1px solid $lightGray;
    border-radius: 9px;
    margin-right: 2.5px;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  textarea:focus {
    outline-color: $lightGrayishBlue;
  }
  .confirmationBtn {
    margin: 10px 2px 0 auto;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 9px;
    background-color: $moderateBlue;
    color: $white;
    font-size: 16px;
    font-weight: 500;
  }
  .confirmationBtn:hover {
    cursor: pointer;
    background-color: $lightGrayishBlue;
  }
}

.plusMinusDeleteEditReplyReplacedContainer {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 900px) {
  .plusMinusInputContainer{
    flex-direction: row;
    justify-content: center;
    width: 100px;
    margin: 0;
    padding: 0;
    .iconContainer .iconMinus {
      margin-top: 4px;
    }
    
  }
}

@media only screen and (max-width: 600px) {
  .postListPageContainer {
    padding: 20px 10px 50px;
  }
  .postPreviewContainer{
    margin: 0px 0px 10px;
  }
  .postContainer{
    width: calc(100% - 20px);
    margin: 50px 10px 0;
  }
  .postBody, .commentBody{
    padding: 20px 10px;
  }
  .commentBody {
    margin-left: 10px;
  }
  .repliesContainer, .commentsContainer{
    margin-left: 10px;
    .replyInputContainer{
      margin-left: 10px;
    }
  }
  .replyInputContainer {
    flex-direction: column;
    .imageConfirmBtn {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
  }
}

@media only screen and (max-width: 380px) {
  .postPreviewContainer {
    width: 100%;
  }
}