$moderateBlue: hsl(238, 40%, 52%);
$softRed: hsl(358, 79%, 66%);
$lightGrayishBlue: hsl(239, 57%, 85%);
$paleRed: hsl(357, 100%, 86%);
$darkBlue: hsl(212, 24%, 26%);
$grayishBlue: hsl(211, 10%, 45%);
$lightGray: hsl(223, 19%, 93%);
$veryLightGray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

.navbarContainer {
  border-bottom: 1px solid $lightGray;
  background-color: white;
}

section h1 {
  margin: 0px;
  font-size: 3rem;
  margin-left: 10px;
  color: $darkBlue;
}

section h2 {
  margin: 0px;
  font-size: 2rem;
  margin-left: 10px;
  color: $darkBlue;
}

.navBtnsAndSelectContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.navBarLink {
  height: 25px;
  background-color: $moderateBlue;
  border-radius: 9px;
  margin: 10px 0 10px 10px;
  padding-top: 5px;
  a,
  div {
    display: inline;
    color: $white;
    text-decoration: none;
    padding: 13px 20px;
  }
  a:hover {
    color: $white;
    text-decoration: underline;
  }
}
.navBarButton:hover {
  background-color: $lightGrayishBlue;
}

.navBarInfo {
  box-sizing: border-box;
  background-color: $moderateBlue;
  border-radius: 9px;
  margin: 10px 0 10px 10px;
  color: $white;
  padding: 7px 20px;
}

.navBarButton {
  background-color: $moderateBlue;
  border-radius: 9px;
  margin: 10px 0 10px 10px;
  color: $white;
  padding: 7px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navBarMessage {
  color: $grayishBlue;
  font-weight: 500;
}
